/* .card.article-link .card-body .card-title a {
  color: var(--orange) ! important;
}

.card.article-link .card-body .card-subtitle {
  color: var(--blue) ! important;
}

.card.article-link .card-body .card-subtitle a {
  color: var(--cyan) ! important;
} */
